{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: tomato;
    }



</style>
{% endblock %}
{% block content %}
<div id="navbar">
    <ul>
        <li><a href="/home">Home</a></li>
        <li style="float:right"><a href="/login">Login</a></li>
    </ul>
</div>
<h1>Login</h1>
<div class = loginform>
    <form method="post" action="/register">
        <label><bold>Username(e-mail):</bold></label><br>
        <input type="text" placeholder="Enter email" name="email" required><br><br>
    
        <label><bold>First Name:</bold></label><br>
        <input type="text" placeholder="Enter first name" name="first_name" required><br><br>
    
        <label><bold>Last Name:</bold></label><br>
        <input type="text" placeholder="Enter last name" name="last_name" required><br><br>
    
        <label><bold>Password:</bold></label><br>
        <input type="password" placeholder= "Enter password" name="password" required><br>
        <label class = "important">{{passwordMismatch}}</label><br><br>
     
        <label><bold>Confirm Password:</bold></label><br>
        <input type="password" placeholder= "Confirm password" name="password_confirm" required><br>
        <label class = "important">{{passwordMismatch}}</label><br><br>
    
        <input type="submit" value="Register">
    </form>
</div>

{% endblock %}