{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: tomato;
    }

    .success{
        text-align: center;
        size: 16px;
    }
</style>
{% endblock %}
{% block content %}
<div id="navbar">
    <ul>
        <li><a href="/home">Home</a></li>
        <li style="float:right"><a href="/login">Login</a></li>
    </ul>
</div>

{% if show_reg_form %}
<h1>Register</h1>
<div class = loginform>
    <p style="text-align:center" class = "important">{{error}}</p>
    <form method="post" action="/register">
        <label><bold>Username:</bold></label><br>
        <input type="text" placeholder="Enter username" name="username" value="{{username}}" required><br><br>

        <label><bold>e-mail:</bold></label><br>
        <input type="email" placeholder="Enter email" name="email" value="{{email}}" required><br><br>
    
        <label><bold>Password:</bold></label><br>
        <input id = "password" type="password" placeholder= "Password" name="password" required><br>
        <label class = "important">{{passwordMismatch}}</label><br><br>
     
        <label><bold>Confirm Password:</bold></label><br>
        <input id = "password_confirm" type="password" placeholder= "Confirm password" name="password_confirm" required><br>
        <label class = "important">{{passwordMismatch}}</label><br><br>

        <input type="submit" value="Register">
    </form>
</div>
{% else %}
<h1>Registration Successful</h1>
<div class = loginform>
    <p style="text-align:center; color: greenyellow">{{error}}</p>
    <p>User ID#: {{userid}}</p>
    <p>Username: {{username}}</p>
    <p>Registered email: {{email}}</p>
</div>
{% endif %}
{% endblock %}