{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }

    * {
      box-sizing: border-box;
    }
    
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    
    /* Style the header */
    .header {
      grid-area: header;
      background-color: white;
      padding: 20px;
      text-align: center;
      font-size: 35px;
    }
    
    /* The grid container */
    .grid-container {
      display: grid;
      grid-template-areas: 
        'header header header header header header' 
        'left middle middle middle middle right' 
        'footer footer footer footer footer footer';
      /* grid-column-gap: 10px; - if you want gap between the columns */
    } 
    
    .left,
    .middle,
    .right {
      padding: 10px;
      /*height: 300px; /* Should be removed. Only for demonstration */
    }
    
    /* Style the left column */
    .left {
      grid-area: left;
      padding:10px;
      height:200px;
    }
    
    /* Style the middle column */
    .middle {
      grid-area: middle;
    }
    
    /* Style the right column */
    .right {
      grid-area: right;
      height:100px;
    }
    
    /* Style the footer */
    .footer {
      grid-area: footer;
      background-color: white;
      padding: 10px;
      text-align: center;
    }
    
    .blogcard{
        margin: 0px 5px 10px 5px;
        padding: 5px;
        background-color: rgb(255, 219, 152);
        border: 3px solid black;
        border-radius: 5px;
    }

    .newblogpost{
      background-color: #046daa;
      border: none;
      border-radius: 4px;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor:pointer;
      float:left;
    }

    .newblogpost:hover{
        opacity: 0.8
    }

    .tagslist ul{
      list-style: square;
      margin: initial;
      padding: 0 0 0 40px;
      background-color: rgb(255, 219, 152);
    }

    .tagslist li{
      display: list-item;
      clear: both;
    }

    
    /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
    @media (max-width: 600px) {
      .grid-container  {
        grid-template-areas: 
          'header header header header header header' 
          'left left left left left left' 
          'middle middle middle middle middle middle' 
          'right right right right right right' 
          'footer footer footer footer footer footer';
      }
    }
</style>
{% endblock %}
{% block content %}
<div id="navbar">
    <ul>
        <li><a  href="/home">Home</a></li>
        <li style="float:right"><a href="/logout">Logout</a></li>
        <li style="float:right"><a class="active" href="/user/">{{username[0]}}</a></li>
    </ul>
</div>

<div class = "grid-container">
    <div class ="header">
        <h2>{{row[0]}}'s Profile</h2>
    </div>
    
    <div class = "left" style="background-color: lightblue ;">
        Different Categories
    </div>
    <div class="middle" style="background-color:white;">
        <div class = "blogcard" style = "padding-bottom: 50x; padding-top: 0px;">
          <button class ="newblogpost" onclick= "new_blog_post()">New Post</button><br><br><br>
          
          <!--Should probably redo this to use more of jinra. Currently, if the required fields are completed, adding to the tags list will submit the form???why-->
          <form id="new_blog_form" method = "post" action = "/user/newblogpost" hidden>
            <label><bold>Subject:</bold></label><br>
            <input type="text" placeholder="Enter subject" name="subject" value="{{subject}}" maxlength="50" required>
            <label><bold>Description:</bold></label><br>
            <input type="text" placeholder="Enter description" name="description" value="{{description}}" maxlength="250" required><br> 
            <label><bold>Tags:</bold></label>
            <input type="text" placeholder="Enter tags" id = "blogtag" name="blogstags" style = "width: 75%;" value="{{blogstags}}"><button class = "text" style = "padding: 12px 20px;" onclick="add_tag()">+</button>
            
            <div class = "tagslist">
              <tagslist>
                <ul id = "tags">
                </ul>
              </tagslist>
            </div>

            <input type = "submit" style = "margin:0px" value = "Post Blog">
            <form>

          <script>
             function add_tag(){
              var node = document.createElement("LI");                 // Create a <li> node
              var textnode = document.createTextNode(document.getElementById("blogtag").value);         // Create a text node
              node.appendChild(textnode);                              // Append the text to <li>
              document.getElementById("tags").appendChild(node);     // Append <li> to <ul> with id="myList"
              return;
             }

            function new_blog_post(){
              var x = document.getElementById("new_blog_form");

              if(x.hidden == false)
                x.hidden = true
              else
                x.hidden = false
                
              return;
            }
          </script>
        </div>
        {% for blog in blogs %}
            <div class ="blogcard">
                <h3><a href = "/blog?blogid={{blog[0]}}">{{blog[1]}}</a></h3>
                {{blog[2]}}
                <P>Author: {{blog[4]}} Posted on: {{blog[3]}}</P>
            </div>
        {% endfor %}
    </div>  
    <div class="right" style="background-color: lightgoldenrodyellow;">
        User info could maybe go here
    </div>

    
    <div class="footer">
      <p>End of blogs</p>
    </div>
</div>

{% endblock %}    